@import url('https://fonts.googleapis.com/css?family=Raleway');

* { 
  box-sizing: border-box; 
}

body {
  background: white;
  color: #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  background: black ;
  flex: 1 1 20%;
  min-width: 300px;
  padding: 3rem; 
  color: red;
  text-shadow: 1px 1px 2px white;
}

.logo {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (min-width: 1500px) {
  .logo {
    margin-bottom: 5rem;
  }
}

span {
  font-weight: 700;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.nav-item:hover {
  color: #fff;
  transition: all 400ms ease-in-out;
}

@media (min-width: 1500px) {
  .nav-item {
    display: block;
    margin: 7vh 0;
  }
}

.nav-item:active {
  color: #c4c4c4;
}

.active {
  color: #fff;
}

.main-content {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: #f96855;
  color: #353535;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}

.portfolio-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}

.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.portfolio-item.one {
  background: url("//picsum.photos/300/350");
  background-size: cover;
  background-position: top;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.one::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.one:hover::before {
  opacity: 0.2;
}

.portfolio-item.two {
  background: url("//picsum.photos/800/600");
  background-size: cover;
  background-position: top;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.two::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.two:hover::before {
  opacity: 0.2;
}

.portfolio-item.three {
  background: url("//picsum.photos/400/420");
  background-size: cover;
  background-position: top;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.three::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.three:hover::before {
  opacity: 0.2;
}

.portfolio-item.four {
  background: url("//picsum.photos/100/100");
  background-size: cover;
  background-position: center;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.four::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.four:hover::before {
  opacity: 0.2;
}

.portfolio-item.five {
  background: url("//picsum.photos/600/800");
  background-size: cover;
  background-position: right;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.five::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.five:hover::before {
  opacity: 0.2;
}

.portfolio-item.six {
  background: url("//picsum.photos/900/800");
  background-size: cover;
  background-position: center;
  background-color: #353535;
  transition: all 400ms ease-in-out;
  position: relative;
  color: #fff;
  z-index: 10;
}

.portfolio-item.six::before {
  content: '';
  background: #353535;
  background-blend-mode: multiply;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.six:hover::before {
  opacity: 0.2;
}