@import url('https://fonts.googleapis.com/css?family=Raleway');

* { 
  box-sizing: border-box; 
}

body {
  background: black;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  background: white ;
  flex: 1 1 auto; 
  min-width: 300px;
  block-size: 200px;
  padding: 2rem; 
}

.logo {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (min-width: 1500px) {
  .logo {
    margin-bottom: 5rem;
  }
}

span {
  font-weight: 700;
}

.nav-item {
  color: solid black;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.nav-item:hover {
  color: red;
  transition: all 400ms ease-in-out;
}

@media (min-width: 1500px) {
  .nav-item {
    display: block;
    margin: 7vh 0;
  }
}

.nav-item:active {
  color: black;
}

.active {
  color: black;
}

.main-content {
    
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
}
.socials{
    display: block;
    position: inherit ;
    bottom: 0;
    right: 0;
transform: (-53%, -50%);

}



li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: gray;
   
    border-radius: 50%;
    transition: .5s;
    
} 
 li:hover {
   color: red;
   border: 0.2px transparent;
   transition: ease-in-out 0.5s;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0%);
    background-color: gray;
    position: relative;
   flex: auto;
}
img:hover {
    filter: grayscale(5);
    border-style: none;
    border-radius: 100%;
    transition:  0.3s ease-in-out;
    filter: grayscale(5);
    transition: 0.3s ease-in-out; 
 ;
    }
    h2{
        color: blanchedalmond;
        position: relative;
        bottom: 0;
        right: 0;
    }

    .mom{
        bottom: 0;
        right: 0;
    }

    h1 {
        color: blanchedalmond;
    }